* {
    --sidebar-color: #0369a1;
    --background-color: #e0f2fe;
    --container-color: white;
    --header-color: var(--container-color);
    font-family: roboto;
}

@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto-Regular.ttf);
    font-style: normal;
  }

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.header-buttons {
    display: flex;
    justify-content: space-around;
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--sidebar-color);
    border-radius: 15px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: var(--sidebar-color);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.main-nav {
    background-color: var(--sidebar-color);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    list-style: none;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: clamp(0px, 2em, 80px);
}

.main-nav h1 {
    color: aliceblue;
    font-size: 3em;
}
.main-nav li a {
    color: aliceblue;
    font-size: 2em;
    text-decoration: none;
}

.main-nav li:hover {
    text-decoration:underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 10px;
}

.main-header {
    background-color: var(--header-color);
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
}

.main-header div {
    display: flex;
    align-items: center;
    padding-left: 2em;
}

.header-buttons {
    gap: 10px
}

.search-container {
    gap: 15px;
}

.search-container img {
    height: 2em;
}

.search-container input {
    width: 70%;
    height: 2em;
    border-radius: 15px;
    background-color: var(--background-color);
}


.user-info-links {
    display: flex;
    justify-content: flex-end;
    padding-right: 25%;
}

.user-info-links img {
    height: 3em;
}

.user-info img {
    height: 4em;
}

.user-info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info-text p {
    padding: 0;
    margin: 0;
}


main {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
}

.projects {
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1.75rem 1fr 1fr;
    gap: clamp(5px, 2em, 40px);
    margin: max(10px);
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--container-color);
    border-radius: 10%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.project h4, .project p, .announcements h4, .announcements p {
    padding-left: 1em;
    padding-right: 1em;
}

.icon-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: calc(10em);
    gap: 10px;
    padding: 1em;
}

.project img {
    height: 2em;
}

.projects h3 {
    grid-column: 1 / -1;
}

.right-side {
    display: grid;
    grid-template-rows: 1.75rem auto 1.75rem 1fr;
    grid-template-columns: minmax(250px, 400px);
    grid-auto-rows: 1fr;
    gap: clamp(5px, 2em, 40px);
    margin: max(10px);
}

.announcements, .trending-container{
    background-color: var(--container-color);
    border-radius: 10%;
    overflow: hidden;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
}

.trending-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trending-item {
    display: flex;
    padding: 1em;
}

.trending-item img {
    grid-column: 1 / 2;
    height: 3em;
    border-radius: 50%;
}

.trending-item .trending-img {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending-item .trending-user-info p {
    margin: 5px;
    font-size: 1em;
}
